<body>
    <div >
    <form  (ngSubmit)="Update()">
        <legend>Enter new Book details</legend>
    
        <div class="form-group">
            <label for="Uname">Name</label>
            <input type="text" class="form-control" name="Uname" id="Uname" placeholder="Uname" [(ngModel)]="userdetail.uname">
        </div>
    
        <div class="form-group">
            <label for="email">Subject</label>
            <input type="text" class="form-control" name="password" id="password" placeholder="Uname" [(ngModel)]="userdetail.password">
        </div>
    
           
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" class="form-control" name="Uname" id="Uname" placeholder="Uname" [(ngModel)]="userdetail.uname">
        </div>
    
        <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" name="password" id="password" placeholder="Uname" [(ngModel)]="userdetail.password">
        </div>
           
        <div class="form-group">
            <label for="Role">ISBN</label>
            <input type="text" class="form-control" name="Uname" id="Uname" placeholder="Uname" [(ngModel)]="userdetail.uname">
        </div>
    
        <div id="div2">
        <button type="submit" class="btn btn-primary">Add</button>
    
        <br>
    
        <span class="label label-danger">{{msg}}</span>
        </div>
    </form>
    </div>
    </body>
    
    
    
