<div id="div2">
<b>ONLINE LIBRARY</b>
<br>
<b>SYSTEM</b>
</div>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <ul class="nav navbar-nav">
        <li class="active">
            <a routerLink="/ledit">Edit profile</a>
        </li>
        <li class="active">
            <a routerLink="/lpassword">Change password</a>
        </li>
        <li class="active">
            <a routerLink="/lcheckbk">Check book</a>
        </li>
        <li class="active">
            <a routerLink="/lnewbk">Add new book</a>
        </li>
        <li class="active">
            <a routerLink="/lnewbkcpy">Add new copy</a>
        </li>
        <li class="active">
            <a routerLink="/lbkreturn">Return book</a>
        </li>
        <li class="active">
            <a routerLink="/lbkissue">Issue book</a>
        </li>
        <li class="active">
            <a routerLink="/lbkissuelist">List of issue book</a>
        </li>
        <li class="active">
            <a routerLink="/laddmem">Add member</a>
        </li>
        <li class="active">
            <a routerLink="/lpayment">Make payment</a>
        </li>
        <li class="active">
            <a routerLink="/lpayhistory">Payment history</a>
        </li>
        <li class="active">
            <a routerLink="/lallusers">List of all users</a>
        </li>
        <!-- <li class="active">
            <button class="btn btn-success" (click)="Logout()">Logout</button>
        </li> -->
    </ul>
</nav> 
<router-outlet></router-outlet> 
    