
<body>
    <div >
    <form  (ngSubmit)="Update()">
        <legend></legend>
    
        <div class="form-group">
            <label for="Uname">Enter User ID</label>
            <input type="text" class="form-control" name="Uname" id="Uname" placeholder="Uname" [(ngModel)]="userdetail.uname">
        </div>
    
        <div class="form-group">
            <label for="email">Enter amount</label>
            <input type="text" class="form-control" name="password" id="password" placeholder="Uname" [(ngModel)]="userdetail.password">
        </div>
    
        <div id="div2">
        <button type="submit" class="btn btn-primary">Make payment</button>
    
        <br>
    
        <span class="label label-danger">{{msg}}</span>
        </div>
    </form>
    </div>
    </body>
    
    
    
