<div id="div1">
    <form  (ngSubmit)="searchTrain()">
        <legend>Search train</legend>
        <div class="form-group">
            <label for="from">Source </label>
            <input type="text" class="form-control" name="from" id="from" placeholder="Enter Source" [(ngModel)]="userdetail.uname">
        </div>
    
        <div class="form-group">
            <label for="to">Destination</label>
            <input type="text" class="form-control" name="to" id="to" placeholder="Enter Destination" [(ngModel)]="userdetail.password">
        </div>
    
        <div class="form-group">
            <label for="date">Journey Date</label>
            <input type="date" class="form-control" name="date" id="date" placeholder="Date" [(ngModel)]="userdetail.password">
        </div>
        
        <div id="div2">
            <button type="submit" class="btn btn-primary" >Find my train</button><br>
             
            <span class="label label-danger">{{msg}}</span>
        </div>
        
    </form>
</div>
